<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Songs By Year</title>
</head>
<body>
    <h1>Search Songs By Year</h1>
    <form method="POST" th:action="@{/songs/search}">
        <select name="selectedYear">
            <option th:each="year : ${results}" 
                    th:value="${year}"
                    th:text="${year}"></option>
        </select>
        <button type="submit">Search</button>
    </form>
    
</body>
</html>